/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #0F0826;
}
.container{
    width: 1110px;
    margin: 0 auto;
}
.sectionMargin{
    margin-bottom: 150px;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.btn {
    background: linear-gradient(1.09deg, #6e1fea -11.78%, #4289ff 198.26%);
    box-shadow: 0px 4px 10px rgba(31, 13, 69, 0.15);
    border-radius: 10px;
    font-size: 16px;
    line-height: 1;
    padding: 18px 25px;
    border-bottom: none;
    transition: 0.3s;
}


/* Header CSS */
.header{
    padding: 30px 0;
}
.top_navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}
.top_navigation .logo {
    display: flex;
    align-items: center;
}
.top_navigation .logo img {
    width: 50px;
}
.top_navigation .logo h3 {
    color: #fff;
}
.top_navigation .navigation_menu {
    display: flex;
    align-items: center;
    gap: 20px;
}
.top_navigation .navigation_menu li a {
    color: yellow;
    text-transform: uppercase;
}


/* Banner CSS */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-bottom: 80px;
}
.banner_description h1 {
    color: #fff;
    font-size: 72px;
    font-weight: 700;
    line-height: 80px;
    margin-bottom: 20px;
}
.banner_description p {
    color: #cbcbcb;
    font-size: 18px;
    margin-bottom: 30px;
}
.banner_description a{
    color: #fff;
}